.chat-window,
.chat-window * {
  box-sizing: border-box !important;
}

.chat-window {
  height: calc(100vh - 64px);
  padding: 20px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1000px;
  margin: auto;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.chat-header {
  padding: 10px;
  font-size: 1.3em;
  color: #c5ba9b;
  flex: 0 0 auto;
  border-bottom: 1px solid lightgrey;
}

.new-message-container {
  flex: 0 0 auto;
  display: flex;
  padding: 10px 20px;
  border-top: 1px solid lightgrey;
}

.new-message-field {
  flex: 1 0 auto;
}

.new-message-submit {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.new-message-submit:hover {
  color: darkgrey;
}

.new-message-submit:active {
  color: lightgrey;
}

.messages-container {
  flex: 1 1 auto;
  padding: 10px;
  overflow-y: scroll;
}

.message-entry-container {
  display: flex;
  margin: 10px;
}

.my-message.message-entry-container {
  justify-content: flex-end;
}

.other-message.message-entry-container {
  justify-content: flex-start;
}

.my-message .message-header {
  padding-left: 10px;
  order: 99;
}

.other-message .message-header {
  padding-right: 10px;
  order: 0;
}

.message-header {
  flex: 0 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-time {
  margin-top: 5px;
  font-size: .6em;
  font-style: italic;
  text-align: center;
  color: grey;
}

.message-bubble {
  max-width: 80%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.my-message .message-bubble {
  background-color: rgba(197,186,155,.4);
  color: black;
  border-radius: 5px;
}

.other-message .message-bubble {
  background-color: lightgrey;
  color: black;
  border-radius: 5px;
}

.message-status-container {
  font-size: .8em;
  font-style: italic;
  color: grey;
  justify-content: center;
  height: auto;
  display: flex;
  flex: 0 0 auto;
  margin: 0 5px;
}
